<header class="clearfix" id="profile">
        <div id="cashier">
            <span>Cashier: </span>
            <a href="#/pfrofile/{{userId}}">{{username}}</a>
        </div>
    <nav id="nav">
        <ul>
            <li>
                <a href="#/editor">Editor</a>
            </li>
            <li>
                <a href="#/overview">Overview</a>
            </li>
            <li>
                <a href="#/logout" class="logout">Logout</a>
            </li>
        </ul>
    </nav>
</header>