@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat');

body {
    font-family: 'Lato', 'Arial', sans-serif;
    border: 1px dotted grey;
    /*     background: url('screenshots/MountainLanding.png') no-repeat top; */
    background: grey;
    margin:  0;
    padding: 0;
}

header {
    width: 100%;
    margin: 0;
}

.top-bar {
    width: 55%;
    margin: 5px auto;
}

.top-bar .logo{
    float: left;
}

.top-bar .logo img {
    width: 80%;
}

.top-bar nav {
}

.top-bar nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.top-bar nav ul li {
    
}

.top-bar nav ul li a {
    text-decoration: none;
    color: white;
    padding: 0 10px 0 10px;
}

.main-heading {

}

.header p{

}

.header button {
    
}