@import "https://fonts.googleapis.com/css?family=Francois+One|Source+Sans+Pro:300";
@import url('https://use.fontawesome.com/releases/v5.1.0/css/all.css');

/*
text: #002C3C; // dark blue
frames: #BCDAE5; /light blue
button: #31D47D; //green
inside button: // white
#f43886; // pinkish red
forms content: #757575; // light grey;
 */

body{
    background-color: #F4FCFF;
    color: #002c3c;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

form {
    display: block;
    width: 470px;
    margin: 0 auto;
}

h1 {
    font-family: 'Francois One', sans-serif;
    font-size: 68px;
    line-height: 1.2em;
    text-align: center; 
    width: 100%;
    border-bottom: 6px solid #31D47D;
    padding:0;
    margin: 60px auto;
}

label {
    display: block;
    width: 90%;
    font-family: 'Source Sans Pro', sans-serif;
/*! letter-spacing: -0.05em; */
    margin: 0px 0px 10px -15px;
    font-size: 1.4em;
}

label:before{
    content: '* ';
    position: relative;
    color: #f43886;
    font-size: 1em;
    top: 0px;
    left: -5px;
}

input {
    width: 384px;
    height: 30px;
    border: 2px solid  #BCDAE5;
    border-radius: 3px;
    font-size: 1.4em;
    padding: 10px 10px 10px 70px;
}

i {
    font-size: 1.4em;
    position: relative;
    top: -47px;
    left: 1%;
    padding: 2% 2%;
    border-right: 2px solid #BCDAE5;; 
    width: 30px;
    text-align: center;
}

label span {
    color: #BABECA;
}

input[type="submit"] {
    width: auto;
    height: auto;
    float: right;
    padding: 15px 40px;
    font-size: 1.6em;
/*     font-weight: bold; */
    border-color: #31D47D;
    background-color: #31D47D;
    color: white;
    margin-top: 40px;
}