<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FDMC</title>
</head>
<body>


    <!--<h1>Create a Cat!</h1>-->
    <!--<form action="/cats/create" method="post">-->
        <!--<label for="name">Name:-->
            <!--<input type="text" id="name" name="name">-->
        <!--</label><br/>-->
        <!--<label for="breed">Breed:-->
            <!--<input type="text" id="breed" name="breed">-->
        <!--</label><br/>-->
        <!--<label for="color">Color:-->
            <!--<input type="text" id="color" name="color">-->
        <!--</label><br/>-->
        <!--<label for="numberOfLegs">Nuber of legs:-->
            <!--<input type="number" id="numberOfLegs" name="numberOfLegs" value="4">-->
        <!--</label><br/>-->
        <!--<input type="submit" value="Create Cat">-->
    <!--</form>-->
    <!--<br />-->
    <!--<a href="/">Back To Home</a>-->
</body>
</html>