.btn {
    width: 100px;
    height: 50px;
    background: #F3BE60;
    color: white;
    border-radius: 4px;
    border: none;
}
.btn:hover {
    width: 200px;
    height: 100px;
    background: #234465;
    font-size: 25px;
    cursor: pointer;
}
