@import url('https://fonts.googleapis.com/css?family=Oxygen');

body {
    background: #927057;
    font-family:  'Oxygen', sans-serif;
    color: #ffffff;
}


.image-container {
    text-align: center;
    margin-top: 50px;
}

.image-container > img {
    border: 5px solid #d5c395;
    height: 123px;
}

form {
    position: relative;
    width: 470px;
    margin: 50px auto 0;
    padding: 50px 60px 70px;
    background: #d5c395;
}

form::before {
    position: absolute;
    top: -30px;
    left: 259px;
    height: 35px;
    width: 68px;
    background: url(images/triangle.png) no-repeat 0 0;
    content: '';
}

.name, .pass {
    outline: none;
    border: none;
    padding: 10px 10px 10px 60px;
    width: 85%;
    font-size: 1.1em;
    color: #297057;
    border-radius: 5px;
    margin-bottom: 30px;
}

.pass {
    background: url("images/pass.png") no-repeat 12px 10px #efe1c4;
}

.name {
    background: url("images/user.png") no-repeat 12px 10px #efe1c4;
}

.submit {
    outline: none;
    border: none;
    width: 100%;
    padding: 10px;
    max-width: 500px;
    background: #927057;
    color: #d5c395;
    font-size: 1.5em;
    font-weight: 900;
    cursor: pointer;
    border-radius: 5px;
}

.submit:hover {
    color: #fae7b0;
    box-shadow: 0px 0px 3px #fff;
}

.form-field {
    position: relative;
}

.form-field > img {
    position: absolute;
    top: 10px;
    left: 12px;
    width: 20px;
    height: 20px;
    border: none;
}

footer {
    text-align: center;
}


