@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400i');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    width: 960px;
    margin: 0 auto;
    /* text-align: center; */
    color: #fcfcfc;
    background-color: #355664;
}

h1, h2, h3 {
    font-family: 'Permanent Marker', 'Arial', sans-serif;
}

h1 {
    font-size: 50px;
    padding: 10px 0 0;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-size: 40px;
    letter-spacing: 15px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 3px solid #416371;
    padding-bottom: 20px;
}

h3 {
    text-align: right;
    font-size: 30px;
    font-weight: normal;
    margin: 0 0 10px;
}


p {
    line-height: 20px;
    padding-bottom: 5px;
}

figure + p {
    color: #94c258;
}

img {
    width: 500px;
    height: 300px;
    border: none;
}

div.article-content {
    margin: 15px 0;
}

nav {
    background: #355664;
    padding: 0 5px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: #ffffff;
    display: inline-block;
    font-size: 30px;
    margin: 5px 2px;
    padding: 7px 10px 4px;
    text-transform: uppercase;
}

nav ul li:first-of-type > a {
    color: #7CB3E9;
    font-size: 30px;
    text-transform: lowercase;
}

nav ul a[title="sweet tabs"] {
    color: #8EC45B;
    font-size: 30px;
    text-transform: none;
}

nav,article,nav ul li a, figure {
    border-radius: 10px;
}

article {
    background-color: #213E4A;
    margin: 0 0 10px;
    padding: 20px;
    height: 390px;
}

figure {
    border: 3px solid #142830;
    float: right;
    margin-left: 15px;
    height: 300px;
    width: 500px;
}

footer {
    border-top: 3px solid #142830;
    padding-top: 15px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 20px;
}