<div class="contact">
    <div class="title">
        {{name}}
        <button>&#8505;</button>
    </div>
    <div class="info">
        <span>&phone; {{phone}}</span>
        <span>&#9993; {{email}}</span>
    </div>
</div>