{{! common navigation for logged in users }}
<div class="menu">
    <a href="#/home">Home</a>
    <a href="#/overview">Overview</a>
    <a href="#/profile">Profile</a>
    <a href="#/logout">Logout</a>
</div>