<form id="formSubmitChirp" class="chirp-form" action="{{formAction}}" method="{{formMethod}}">
    <textarea name="text" class="chirp-input"></textarea>
    <input class="chirp-submit" id="btnSubmitChirp" value="Chirp" type="submit">
</form>