<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: head"></head>
<body>
<header>
    <nav th:replace="/fragments/nav :: nav"></nav>
</header>
<main>
    <div class="container my-4">
        <div class="row d-flex justify-content-around">
            <h1 id="table-heading" class="col-6 align-self-center mx-auto">Your Choice</h1>
            <div class="col-6 align-self-center text-right  d-flex justify-content-around">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="virusesRadio" name="tableRadio"
                           value="viruses-list">
                    <label class="custom-control-label" for="virusesRadio">Viruses</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="capitalsRadio" name="tableRadio"
                           value="capitals-list">
                    <label class="custom-control-label" for="capitalsRadio">Capitals</label>
                </div>
            </div>
        </div>
        <hr/>
        <div id="replace" class="text-center">
            <h2>Select, what data you want to visualize!</h2>
        </div>
    </div>
</main>
<div th:replace="/fragments/footer :: footer"></div>
<script>
    $(document).ready(function () {

        //call function when page is loaded
        //getContent();

        //set on change listener
        $('input[name=tableRadio]').change(getContent);

        function getContent() {
            var tableSelector = $('input[type=radio][name=tableRadio]:checked');
            var tabHeading = $('#table-heading');

            //create url to request fragment
            var url = /show/;
            if (tableSelector.val() === "viruses-list") {
                url = url + "viruses";
                tabHeading.html('All Viruses')
            } else {
                url = url + "capitals";
                tabHeading.html('All Capitals')
            }

            //load fragment and replace content
            $('#replace').load(url);
        }
    })
</script>
</body>
</html>