<section id="viewLogin">
    <h2>Login to your account:</h2>
    <form id="formLogin" action="#/login" method="post">
        <label>Username:</label>
        <input type="text" name="username" placeholder="Enter your Username" >
        <label>Password:</label>
        <input type="password" name="pass" placeholder="Enter your Password">
        <input type="submit" class="login" value="Login">
    </form>
</section>