<main>
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" th:action="@{/todo/create}" method="POST">
                <fieldset>
                    <legend>New TODO task</legend>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="todo_title">Task Title</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="todo_title" placeholder="Task Title" name="title"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="todo_content">Content</label>
                        <div class="col-sm-6">
                            <textarea class="form-control" rows="6" id="todo_content" name="content"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" th:href="@{/}">Cancel</a>
                            <input type="submit" class="btn btn-primary" value="Submit"/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</main>