div#wrapper {
    width: 400px;
    background-color: #dddddd;
    border: 1px solid #000000;
    margin-left: 20px;
    padding: 10px;
}

div#wrapper p {
    font-size: 18px;
}

div#wrapper h1 {
    text-align: center;
}

q::before {
    content: open-quote;
}

q::after {
    content: close-quote;
}
