<div id="car-listings">
    <h1>Car Listings</h1>

    <div id="listings">

        {{#if listings}}
            {{#each listings}}
                {{> LISTING}}
            {{/each}}
        {{else}}
            <p class="no-cars">No cars in database.</p>
        {{/if}}
    </div>
</div>